
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");


body{
    /*background:#272727;*/
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAAI0lEQVQIW2NkwAT/GdHE/gP5jMiCYAGQIpggXAAmiCIAEgQAAE4FBbECyZcAAAAASUVORK5CYII=) #222;

    font-family: "Roboto", sans-serif;
    font-size: 15px;
    padding:5px;
    
   
}
.loader{
  position: absolute;
  top:50%;
  left:50%;
  width:120px;
  z-index: 20;
}
.loader.hidden{
 
  display: none;
}
.big__mother{
    
    display:flex;
    padding:30px;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
   
}

.item__container{

    border-radius: 15px;
    overflow:hidden;
    padding:15px;
    width:500px;
    background:#272727;
    opacity:1;
    box-shadow: rgba(0, 0, 0, 1) 2.4px 2.4px 3.2px;
    flex-direction: row;
    
}

.card_container{
  display:flex;
  flex-direction: row;
  margin:5px;
  align-items:center;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 1) 2.4px 2.4px 3.2px;
  border-radius:5px;
  height: 50px;
  cursor: pointer;
  transition: 0.4s;
  transform: scale(0.9, 0.9);
}
.card_container:hover{
  transform: scale(0.89, 0.89);
}
.card_container:hover>div>a{
  
  color:#13A76B
}
li{
    list-style: none;
    
}
a{
    color:#FFE400;
    text-decoration: none;
    display:inline-block;
}


.navbar,
.navbar > .navbar__container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding:5px
}

.navbar {
    background:#272727;
    opacity:1;
    box-shadow: rgba(0, 0, 0, 1) 2.4px 2.4px 3.2px;
    border-radius: 12px;
}

.navbar .nav__menu {
  display: flex;
  align-items: center;
  flex-basis: auto;
  flex-grow: 1;

}
.navbar .nav__menu .navbar_nav {
  margin-left: auto;
  flex-direction: row;
  display: flex;
  gap: 30px;
}

.fa-angle-right:hover{
    cursor: pointer;
}
.fa-angle-right{
  transition:0.5s
}
.rotation{
    transform:rotate(90deg);
}
.navbar_dropdown {
    position: relative;
}
.dropdown {
    
    position: absolute;
    top: 45px;
    left: 0;
    background-color: #272727;
    color:#FFE400;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    min-width: 160px;
    width: auto;
    white-space: nowrap;
    box-shadow: rgba(0, 0, 0, 1) 2.4px 2.4px 3.2px;
    z-index:15 ;
    border-radius: 0.75rem;
    
  }
  canvas { 
      position:absolute;
      display:block; 
      z-index:-1;
   
  }

  
 a:hover{
    color:#13A76B
  }


  
 



